################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Questions.Generator/.vs/Questions.Generator
/Questions.Generator/Questions.Generator/bin/Debug/netcoreapp3.1
/Questions.Generator/Questions.Generator/obj
Questions.Generator/global.json
Questions.Generator/.idea/.idea.Questions.Generator/.idea/encodings.xml
Questions.Generator/.idea/.idea.Questions.Generator/.idea/indexLayout.xml
Questions.Generator/.idea/.idea.Questions.Generator/.idea/projectSettingsUpdater.xml
Questions.Generator/.idea/.idea.Questions.Generator/.idea/vcs.xml
Questions.Generator/Questions.Generator/bin/Release/netcoreapp3.1/Questions.Generator.deps.json
Questions.Generator/Questions.Generator/bin/
